@import 'variables';

@mixin flexColumn($direction: column, $justify: space-around) {
    display: flex;
    justify-content: $justify;
    align-content: center;
    flex-direction: $direction;
    @content;
}


@mixin media-small {
    @media (max-width: 1000px) {
        @content;
    }
}
@mixin media-md {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin media-xsmall {

    @media (max-width: 660px) {
        @content;
        
    }
}
@mixin media-mobile {

    @media (max-width: 400px) {
        @content;
        
    }
}